<div class="container-seccion">
    <form class="flex-lista-vertical flex-center" ngNativeValidate>
        <h3>Agregar Soft Skill:</h3>
        <p>Escribe sobre el/los atributo/s que deseas cambiar - Los atributos que no se editen quedaran como estan</p>
        <div class="div-p-input">
            <p>Titulo :</p>
            <input type="text" #titulo value={{default.titulo}} placeholder="ingresar titulo">
        </div>
        <div class="div-p-input">
            <p>Alto :</p>
            <input type="number" #alto value={{default.altoIcon}} placeholder="ingresar alto icono">
        </div>
        <div class="div-p-input">
            <p>Ancho :</p>
            <input type="number" #ancho value={{default.anchoIcon}} placeholder="ingresar ancho icono">
        </div>
        <div class="div-p-input">
            <p>Icon :</p>
            <input type="file" (change)="obtenerArchivo($event)" accept="image/*" placeholder="ingresar imagen">
        </div>
        <div *ngIf="iconBase64">
            <img width="100em" height="100em" [src]="iconBase64">
        </div>
        <div class="container-a-btn">
            <div>
                <a mat-dialog-close>Volver</a>
            </div>
            <button type="button" (click)="guardarSoftSkill(titulo.value,alto.value,ancho.value)">
                Guardar
            </button>
        </div>
    </form>
</div>